.borderPane {
        -fx-background-color: #212324;
}
.scroll-pane > .viewport {
        -fx-background-color: transparent;
}
.scroll-pane {
        -fx-background-color: transparent;
}
#stocksVBox {
        -fx-alignment: top-center;
}
#ownedStockCircle {
        -fx-fill: white;
        -fx-stroke: white;
}
#stockButton {
        -fx-background-color: transparent;
        -fx-text-fill: white;
        -fx-font-size: 20px;
        -fx-font-family: Copperplate;
}
#stockButton:hover {
        -fx-text-fill: #212324;
}
#stockHBox {
        -fx-background-color: #212324;
        -fx-alignment: center;
        -fx-border-width: 0 0 1px 0;
        -fx-border-color: white;
        -fx-border-style: solid;
}
.textField {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: Copperplate;
    -fx-border-width: 0 0 3px 0;
    -fx-border-color: white;
    -fx-border-style: solid;
}
.scroll-bar:horizontal, .scroll-bar:vertical {
        -fx-background-color: transparent;
}
.scroll-pane > .corner {
        -fx-background-color: transparent;
}
#stocksAndTextFieldVBox {
        -fx-border-width: 0 3px 0 0;
        -fx-border-color: white;
        -fx-border-style: solid;
}
#tradingVBox {
        -fx-border-width: 0 0 0 3px;
        -fx-border-color: white;
        -fx-border-style: solid;
}
#timeIntervalButton {
        -fx-background-color: transparent;
        -fx-font-size: 15px;
        -fx-font-family: Copperplate;
        -fx-text-fill: white;
        -fx-pref-width: 131px;
        -fx-border-color: white;
}
#timeIntervalButton:hover {
        -fx-background-color: white;
        -fx-text-fill: #212324;
}
#chart {
        -fx-background-color: transparent;
        -fx-pref-height: 857px;
        -fx-horizontal-grid-lines-visible: false;
        -fx-vertical-grid-lines-visible: false;
}
#chart .chart-plot-background{
        -fx-background-color: transparent;
}
#chart .chart-series-area-fill {
        -fx-fill: linear-gradient(to bottom, white, transparent);
}
#chart .chart-series-area-line {
        -fx-stroke: white;
}
#xAxis {
        -fx-tick-label-fill: white;
        -fx-tick-label-gap: 0px;
        -fx-tick-mark-visible: false;
        -fx-tick-labels-visible: false;
}
#yAxis {
        -fx-tick-label-fill: white;
        -fx-tick-label-font-family: Copperplate;
        -fx-tick-label-gap: 0px;
        -fx-pref-width: 30px;
}
#chartLine {
        -fx-fill: white;
        -fx-stroke: white;
        -fx-stroke-width: 2px;
}
#chartLineCircle {
        -fx-fill: white;
}
#stackPane {
        -fx-background-color: transparent;
}
#timeIntervalsHBox {
        -fx-background-color: transparent;
        -fx-alignment: center;
}
#chartDataHBox {
        -fx-alignment: top-center;
}
#chartWindowVBox {
        -fx-background-color: transparent;
        -fx-alignment: top-center;
}
#chartDataLabel {
        -fx-text-fill: white;
        -fx-font-family: Copperplate;
        -fx-font-size: 18px;
        -fx-padding: 5 0 5 0;
}
#profileButton {
        -fx-background-color: transparent;
        -fx-text-fill: white;
        -fx-border-width: 0 0 3px 3px;;
        -fx-border-color: white;
        -fx-border-style: solid;
}
#profileButton:hover {
        -fx-background-color: white;
        -fx-text-fill: #212324;
}
#buyButton {
        -fx-background-color: transparent;
        -fx-text-fill: white;
        -fx-border-width: 1px 0 1px 0;
        -fx-border-color: white;
        -fx-border-style: solid;
}
#buyButton:hover {
        -fx-background-color: white;
        -fx-text-fill: #212324;
}
#sellButton {
        -fx-background-color: transparent;
        -fx-text-fill: white;
        -fx-border-width: 1px 0 1px 0;
        -fx-border-color: white;
        -fx-border-style: solid;
}
#sellButton:hover {
        -fx-background-color: white;
        -fx-text-fill: #212324;
}