#timeIntervalButton {
        -fx-background-color: white;
        -fx-font-size: 15px;
        -fx-font-family: Copperplate;
        -fx-text-fill: #212324;
        -fx-pref-width: 131px;
        -fx-border-color: white;
}